*{
    margin:0;
    padding: 0;
}

html,body{
    height: 100%;
    background-color:#001120;
  }


   h2 {
     padding: 30px;
    margin:20px 10px 20px 40px;
    text-align: center;
    font-family: 'Orelega One',sans-serif;
    color: #FDFFFC;
  }
h3{
  background:#7C142B;
  border: 2px solid #7C142B;
  border-radius: 10px;
  width: 150px;
  margin: 0 0 0 10rem;
  font-size: 16px;
  text-align: center;
 
}

h3 > a{
  
  color: #FDFFFC;
  text-decoration: none;
  font-family: ' Orelega One', sans-serif;
  
}

  .curriculo{
    width: 50vw;

    margin-left: 300px;
     
    
  }



  
 



  .menu-lateral{
    width: 8rem;
    height:85vw;
    margin:0 auto;
  
    float: left;
    display: inline;
   
    border-right: 2px solid #7C142B;
    
    
    background-color:#001120;
  }



  .menu-lateral > ul{
      margin: 230px  10px  250px  0px;
      list-style-type: none;

  }


  .menu-lateral > ul > li {
      margin: 70px 0 70px 0;
      font-family: 'Orelega One',sans-serif;
      font-size: 18px;
  }

  .menu-lateral > ul > li > a {
    text-decoration: none;
    color: #FDFFFC;
  }

  .menu-lateral > ul > li :hover {
    background-color: #f71735;
    border: 2px solid #f71735;
    border-radius: 10px;
    padding: 2px;
  }


footer > a > img{
  width:40px;
  margin: 40px 10px 0 20px;
}



 



  